/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 18px;
    font-weight: bold;
    color: #fff;

  }
  .ribbon {
    --f: .5em; /* control the folded part */
    
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    line-height: 1.8;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51%/var(--f);
    clip-path: polygon(
      100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((cos(45deg) - 1)*100%), -100%) rotate(-45deg);
    transform-origin: 100% 100%;
    background-color: #F07818; /* the main color  */
  }
@keyframes OpacityAnimation { 
  from {
    opacity: 0;
    filter: blur(5px) saturate(0) ;
    -webkit-filter: blur(5px) saturate(0) ;
}
  to{
    opacity: 1;
    filter: blur(0px) saturate(1) ;
    -webkit-filter: blur(0px) saturate(1) ;
}
}
.image-animated {
  animation: 1 linear 0.3s OpacityAnimation  ;
  -webkit-animation: 1 linear 0.3s OpacityAnimation  ;
}