@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    font-family: "Cairo", sans-serif !important;
  font-optical-sizing: auto !important ;
  font-style: normal !important ;
  font-variation-settings:
    "slnt" 0 !important;
    direction: rtl !important;
}
html , body { 
  user-select: none;
}
::-webkit-scrollbar{
  width: 2px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 73);
}
html , body {
  scroll-behavior: smooth;
}